.hero-img {
  width: 100%;
  object-fit: cover;
  object-position: center 60%;
  height: 100%;
}

.hero {
  height: calc(100vh - 80px);
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  text-align: center;
  background: url(../../assets/aspens.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.circle-button {
  height: 5em;
  width: 5em;
  border-radius: 100%;
  background: white;
  bottom: 5em;
  cursor: pointer;
}

.nav-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.arrow {
  height: 2em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.explore-trails {
  font-size: 1em;
  background: #82cd97;
  padding: 1em;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto 3em;
  display: block;
  width: 13em;
  text-align: center;
  text-decoration: none;
  color: black;
}

.trails {
  height: 100%;
  padding-top: 3em;
  width: 70%;
  margin: 0 auto;
}

.select-menu {
  outline: none;
  border: none;
  font-size: 1em;
  background: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 0.2em;
  font-family: "Rubik", sans-serif;
  background: url("../../assets/down.png") 94% / 15% no-repeat #eee;
  background-size: 18px;
  cursor: pointer;
}

.hero-text {
  font-family: "Rubik", sans-serif;
  background: white;
  align-self: center;
  font-size: 2.3em;
  padding: 1em;
  width: 85%;
  justify-content: center;
}

.hero-text-sections {
  display: flex;
}

.hero-text-section {
  line-height: 1.3;
}

.weather {
  border-right: 1px solid black;
  padding: 0 1em;
  width: 40%;
}

.open-trails {
  border-right: 1px solid black;
  padding: 0 1em 0 0.5em;
  width: 30%;
}

.drive-time {
  padding: 0 0.5em 0 1em;
  width: 30%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background: lightgray;
  color: #ff5252;
}

p {
  margin-bottom: 0.3em;
}

.trail-areas-container {
  width: 100%;
}

.analysis {
  font-size: 0.6em;
}

.hero-icon-wrapper {
  display: inline-block;
  padding: 0.8em;
  border-radius: 0.2em;
  height: 1.3em;
  width: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0.3em;
  font-size: 0.8em;
  border: 1px solid black;
}

.hero-icon-wrapper.green {
  background: #96ff99;
}

.hero-icon-wrapper.red {
  background: #ff7373;
}

.hero-icon-wrapper.yellow {
  background: #fcff3c;
}

.hero-icon {
  color: #525252;
}

.ride-status {
  margin-bottom: 0.8em;
}

h2 {
  font-size: 1.3em;
}
